.about-me__photo {
    width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .about-me__photo {
        height: 307px;
    }
}
@media screen and (max-width: 554px) {
    .about-me__photo {
        align-self: center;
    }
}
