.form__item {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #E8E8E8;
}