.page-not-found__button {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    margin: 0 auto;
    background: transparent;
    border: none;
    cursor: pointer;
}