.profile__input-items {
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    padding-top: 17px;
    position: relative;
}

.profile__input-items:last-of-type {
    border-bottom: none;
}