.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    min-height: 700px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
}