.promo {
    padding: 184px 275px 224px;
    background-color: #073042;
    background-image: url(../../../images/landing-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}