.profile__submit-button {
    border: 0;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    margin: 200px auto 0;
}

.profile__submit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.profile__submit-button:disabled {
    cursor: default;
    opacity: unset;
}