.form__submit-button {
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-top: 179px;
}

@media screen and (max-width: 440px) {
    .form__submit-button {
        font-size: 12px;
        line-height: 14px;
    }
}