.form__submit-button {
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 15px;
}